system/system/app/HoneyBoard/HoneyBoard.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
